.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navItem {
    display: inline-block;
    margin-right: 20px;
    list-style: none;

    &Link {
        text-decoration: none;
        color: #818181;

        &Active {
            font-weight: 700;
        }
    }

}
